body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #0e141b;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}

header {
    background-color: #d5cbda39;
    color: #39194d;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

li:hover {

}

h1 {
    font-size: 4rem;
    letter-spacing: 2px;
    color: #39194d;
}

h2 {
    font-size: 2rem;
    letter-spacing: 1.5px;
    margin: 0;
    color: #220f2e;
}

h3 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #220f2e;
}

p {
    
}

#logo {
    font-size: 2rem;
}

.nav-bar {
    list-style-type: ;
    padding: 0;
    
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
    color: #2a0b47;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color:#5a189a; /* Change color on hover */
}

main {
    padding: 2em;
}



section {
    margin-bottom: 30px;
}

footer {
    background-color: #d5cbda39;
    color: rgb(60, 20, 80);
    padding: 20px;
}

#home {
    position: relative;
    
}

#about {
    /* Add specific styles for about section */
}

#projects {
    /* Add specific styles for projects section */
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.portfolio-project {
    background-color: #dcd7d7;
}

.portfolio-image {
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
    opacity 250ms linear;

}

.portfolio-image:hover {
    opacity: 0.75;
}

#contact {
    /* Add specific styles for contact section */
}