html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #231a20;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5;
    
}

header {
    background-color: #d5cbda39;
    color: #39194d;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 2rem;
    color: #5b287b;
}

.nav-bar, .nav-item {
    padding: 0;
    display: flex;
    list-style: none;
    margin: 20;
    justify-content: space-between;
    text-decoration: none;
    transition: color 0.3s ease;
    z-index: 100;
}

.nav-item {
    color: #5b287b;
    text-decoration: none;
    padding-left: 2rem;
}

.nav-item:hover {
    opacity: 0.6;
    color:#5a189a; 
}


.intro {
    background-image: url(https://media-public.canva.com/ivY4M/MAFXXVivY4M/1/s.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    
}

h1 {
    font-size: 4rem;
    letter-spacing: 2px;
    color: #f5f5f5;
    padding: 50px 50px;
}



h2 {
    font-size: 2rem;
    letter-spacing: 1.5px;
    margin: 0;
    color:  #39194d;
    padding: 25px 25px 0px;
}

h3 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #f5f5f5;
    opacity: 0.9;
    padding: 0px 50px 50px;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 25px 10px 25px
}

.portfolio-project {
    background-color: #dcd7d7;
}

.portfolio-image {
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
    opacity 250ms linear;

}

.portfolio-image:hover {
    opacity: 0.75;
}

footer {
    background-color: #d5cbda39;
    padding: 20px;
    text-align: center;
}

.social-link {
    color: #5b287b;
    text-decoration: none;
}

.social-link:hover {
    opacity: 0.6;
    color:#5a189a; 
}

.footer-item {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1em 0 0;
    padding: 0;
}

.scroll-up {
    position: relative;
    justify-content: end;
    display: flex;
    color: #5b287b;
    text-decoration: none;
}

.scroll-up:hover {
    opacity: 0.6;
    color: #5a189a;
}